*{
    margin: 0;
    padding:0;
    font-family: sans-serif;

}
html {
    scroll-behavior: smooth;
  }

body {
    display: grid;
    box-sizing: border-box;
    max-width: 100vw;
    height: 100vh;
    padding: 0.1%;
}

#main-container {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 99,9vw;
    height: auto;
    color: white;
    background-color:white;
    background: linear-gradient(to bottom, #217e6a,  #274261, #16221e);
}

#header {
    display: flex;
    border: 1px solid rgb(18, 19, 18);
    grid-column: 1/ 7;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    justify-items: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

header a{
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;    
}

.menu a{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;      
    text-decoration: none;
    color: rgb(18 18, 18);
    justify-content: center;    
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(18, 19, 18);
 
}

.menu a:hover{
    background-color: #3d4f8a   ;
    color:#000000;
    border-radius: 3px;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: rgb(18, 19, 18);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check{
    display: none;
}

.our-services h1{
    display: flex;
    text-align:center;
    margin: 0% 270%;
}

.section-1 {
    grid-column: 1/ 7;
    display: flex;
    flex-direction: row;
   justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 7%;
    margin-bottom: 5%;
    padding: 5%;
}

.section-1 h2{
    padding-bottom: 5%;
}
.section-1 img{
    display: flex;
    align-content: center;
    width: 35%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 10%;
}

.section-2{
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-content: center;
    text-align: center;  
    grid-column: 1/ 7;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;          
}

.section-2 h2 {
    display: flex;
    align-self: center;

}

.section-2 img{
    align-self: center;
    width: 10%;
    height: 10%;
    
}
.section-2 video{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 2%; 
    margin-left: 9.8%;
    border-radius: 10%;
}

.section-3{
    display: flex;
    flex-direction: row;
    justify-items: center;
    grid-column: 1/ 7;
    margin-bottom: 20%;
    text-align: center;
}

.section-3 p {
    width: 20%;
    display: flex;
    text-align-last: center;
    margin-top: 10%;
    margin-bottom: 1%;
}

.section-3 img{
    width: 25%;
    margin-top: 15%;
    margin-bottom: 10%;
    border-radius: 10%;
}

div.gallery {
    display:grid;
    gap: 3%;
    margin: auto;
    border-radius: 5%;
    justify-content: center;   
    width: 20%;
    margin-top: 5%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    display: grid;
    padding:5%;
    text-align: center;
  }


/* Formulário */

#section4 {
    grid-column: 1/ 7;
    margin-top: 5%;
    margin-bottom: 20%;
    padding: 5%;
}
#section4 h1{
    text-align: center;
    margin-bottom: 8%;
}

form {
    /* Centraliza o form na página */
    display: grid;
    margin: 0 auto;
    width: 35%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin-top: 5%;
    margin-bottom: 20%;
    padding: 5%;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    /* Alinhamento - label */
    display: inline-block;
    justify-content: left;
    align-items: flex-start;
    width: 30%;
    text-align: right;
  }
  
  input, textarea {
    /* Configurações de fonte e tamanho de texto*/
    font: 1em sans-serif;
    width: 60%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
/* Bordas do formulário*/
    border: 1px solid #999;
  }
.button{
    text-align: center;
}
  .btn{
    font-family: arial;
    font-size:14px;
    text-transform: uppercase;
    font-weight:700;
    border:none;
    padding:10px;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
    text-align: center;
}
  .btn-red{
    background:#941929;
    color:#fff;
    box-shadow:0 5px 0 #771423;
}

.btn-red:hover{
    background:#771423;
    box-shadow:0 5px 0 #4e0d17;
  }

.btn-red:active{
    position:relative;
    top:5px;
    box-shadow:none;
  }

.about {
    background-image: url('./imgproject/mercenarios-paralax-img.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #b9b8b8;
    /* width: 600%; */
    align-items: center;
    font-family: sans-serif;
}

.about h1{
    margin-top: 17%;
}

.about p{
    text-align: center;
    width: 50%;
    margin-left: 24%;
}

.about h1, p{
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer {
    font-style: italic;
    grid-row: 8/ 9;
    grid-column: 1/ 7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 3%;
}

.footer a:hover{
    background-color: rgb(22, 54, 121);
    color: rgb(255, 255, 255);
}
.footer img {
    max-width: 15%;
    height: auto;
}

.footer a {
    text-align: center;
}

.footer-01 {
    font-style: italic;
    grid-row: 8/ 9;
    grid-column: 1/ 7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 100%;
    height: auto; 
    margin-top: 10%;
    margin-bottom: 2%;
 
}

/*Responsividade */
@media screen and (min-device-width : 50px) and (max-device-width : 420px) {
    /* celulares */

    .checkbtn{
        display: block;
        position: fixed;
      
    }

    #header {
        display: none;
    }

    #check:checked ~ #header {
      display: flex;
      top: 64px;
      border: none;
      width: auto;
    }


    /* .menu{
        display: none;
    } */

    .menu{
        position: fixed;
        flex-direction: column;
        width: auto;

    }
}

    

    @media screen and (min-device-width : 421px) and (max-device-width : 800px) {
    /* tablets */

    .checkbtn{
        display: block;
        position: fixed;
      
    }

    #header {
        display: none;
    }

    #check:checked ~ #header {
      display: flex;
      top: 64px;
      border: none;
      width: auto;
    }


    /* .menu{
        display: none;
    } */

    .menu{
        position: fixed;
        flex-direction: column;
        width: auto;

    }
}
  
