/* Margens*/
*{
    height: 0px auto;
    width: 0px auto;
}
#main-container {
    display: grid;
    align-content: center;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 2%;
    width: 100vw;
    max-height:100vh;
}

.header {
    display: flex;
    float: right;
    background-color: #393e46;
    grid-row: 1/5;
    grid-column: 1/5;
    width: 100%;
    height: auto;
}

/* Barra de Navegação */

.menu {
    display: flex;
    width: 100%;
    height:100%;
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}


.menu ol{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu ol li{
    display: flex;
    flex-direction: row;
    
}
.menu a{
    margin-top: 25px;
    padding: 15px;
    display:grid;
    text-decoration: none;
    background-color: white;
    color: #6d6d6d;
}


.menu a:hover{
    background-color: rgb(190, 189, 189);
    color: rgb(71, 71, 71);
}



/* Section 01 */
.section-01{
    color: #393e46;
    grid-row: 2/4;
    grid-column: 1/4;
    align-content: center;
    justify-content: space-around;
    width: 50vw;
    height: auto;

}

.section-02{
    color: #393e46;
    grid-row: 2/4;
    grid-column: 1/4;
    align-content: center;
    justify-content: space-around;
    width: 50vw;
    height: auto;

}

.texto-destaque p{
    margin-top: 25px;
    padding: 15px;
    margin-top: 150px;
    margin-right: 170px;
    float: right;
}
/* Imagem minha */
#imagem-pedro{
    width: 550px;
    float: left;
    margin-left: 50px;
    margin-top: px;
}
/* Botão para biografia */
.botao {
    font-family: arial;
    font-size:14px;
    text-transform: uppercase;
    font-weight:700;
    border:none;
    float: left;
    padding:10px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 300px;

}
.botao-bio{
    background:rgb(36, 36, 36);
    color:#fff;
    box-shadow:0 5px 0 #000000;
}

  .botao-bio:hover{
    background:#015b67;
    box-shadow:0 5px 0 #00383f;
}

.botao-bio:active{
    position:relative;
    top: 5px;
    box-shadow:none;
}
/* Icones de Redes sociais */
.redes-sociais ul{
    float: right;
    text-align: center;
}
.redes-sociais ul li a {
    line-height: 5px;
}
.redes-sociais ul li {
display: inline-block;
margin-right: 10px;
}
/* Rodapé */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #393e46;
    grid-row: 4;
    grid-column: 1/3;
    width: 100vw;
    height: auto;
}

footer{
    position: fixed;
    bottom: 0;
}


/* Lista icones para redes sociais */
#icon1 img{
    width: 35px;
}

#icon2 img{
    width: 38px;
}

#icon3 img{
    width: 36px;
}